// @import "./variables";

.section__menu {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;

  .section__menu-content {
    width: 80%;
    margin: auto;
    .section__menu-content-image {
      width: 100%;
      margin: auto;
      @media (min-width: 700px) {
        height: 350px;
      }
      @media (min-width: 950px) {
        height: 550px;
      }
      @media (min-width: 1200px) {
        height: 650px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    h1 {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 100;
    }
    .section__menu-content-title {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 100;

      @media (min-width: 700px) {
        margin-top: 30px;
        letter-spacing: -1px;
      }
    }
    .row {
      @media (min-width: 700px) {
        display: flex;
        justify-content: space-between;
        gap: 10%;
      }
      .column {
        margin-bottom: 30px;

        @media (min-width: 700px) {
          flex: 1;
        }
        h2 {
          text-transform: uppercase;
          margin-bottom: 20px;
          font-weight: 100;
        }
        .menu__list {
          .menu__list-item {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
          }
          .menu__list-extra {
            margin-top: 30px;
            h2 {
              @media (min-width: 320px) {
                letter-spacing: 1px;
              }
              @media (min-width: 380px) {
                letter-spacing: normal;
              }
            }
          }
        }
      }
    }
  }
}
