html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  // font-family: sans-serif;
  // font-weight: 200;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  min-height: 100vh;
  margin: 2%;
  @include flex-column;
  h1,
  h2,
  h3,
  p {
    padding: 2%;
  }
  .header-text {
    @include flex-column;
    width: 100%;
    padding: 5%;
    h1 {
      font-size: 3rem;
    }
  }
  .coffee-cards {
    flex-grow: 1;
    @include flex-column();
    .card {
      @include flex-column;
      height: 30%;
      background-color: rgb(243, 242, 242);
      margin: 3%;
      h2 {
        width: 100%;
        border-bottom: 1px solid darkgray;
        padding: 2rem;
      }
      img {
        width: 100%;
      }
      p {
        padding: 1rem;
      }
    }
  }
  // @media (max-width: $small-screen) {
  //   .header {
  //     padding: 15%;
  //   }
  //   .cards {
  //     @include flex-column;
  //     .card {
  //       width: 90%;
  //       border: none;
  //     }
  //   }
  // }
}
