@import "./variables";

.section__menu {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $tertiarty_color;

  .section__menu-content {
    width: 80%;
    margin: auto;

    h1 {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 100;
    }
    .section__menu-content-title {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 100;
    }
    .row {
      .column {
        margin-bottom: 30px;
        h2 {
          text-transform: uppercase;
          margin-bottom: 20px;
          font-weight: 100;
        }
        .menu__list {
          .menu__list-item {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
          }
          .menu__list-extra {
            margin-top: 30px;
          }
        }
      }
    }
  }
}
