// variable declarations

$font: 'Roboto Condensed';
$font_weight: 200;

// charcoal:
$primary_color: rgb(81, 80, 80);
// light gray:
$secondary_color: rgb(243, 242, 242);
// $tertiarty_color: white;

// mixin declarations

@mixin center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin center-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
